host: 192.168.1.217

backend:

  app: flask
  host_port:

  deployment:
    name: flask-deployment
    image_name: mikejini/inventory_backend
    image_tag: 
    container_port: 80
    replicas: 1

  service:
    name: flask-service
    type: NodePort
    port: 80
    targetPort: 80
    nodePort: 31000

  secret:
    name: flask-secret
    password: 

  config_map:
    name: flask-config
    db_user: postgres

frontend:

  app: react
  host_port:

  deployment:
    name: react-deployment
    image_name: mikejini/inventory_frontend
    image_tag: 
    container_port: 80
    replicas: 1

  service:
    name: react-service
    type: NodePort
    port: 80
    targetPort: 80
    nodePort: 32000
  
  config_map:
    name: react-config
  
postgres:
  app: postgres

  statefulset:
    name: postgres-deployment
    image_name: postgres
    image_tag: 17
    container_port: 5432
    replicas: 1

  service:
    name: postgres-service
    type: NodePort
    port: 5432
    targetPort: 5432
    nodePort: 30001   

  secret:
    name: postgres-secret
    password: 