apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.frontend.config_map.name }}
data:
  # property-like keys; each key maps to a simple value
  VITE_FLASK_URL: "{{ .Values.host }}"
  VITE_FLASK_PORT: "{{ .Values.backend.host_port }}"
